<style>


</style>

<div class="about">
  <div class="row">
    <div class="small-12 medium-8 medium-offset-2 text-center">
      <h3>OFN Southern Africa is the result of a 3 way agrement between Kandu, African Conservation Trust and
        the Open Food Foundation.</h3>

      <a href="https://kandudmp.files.wordpress.com/2015/06/logo-final-transparent-bg.jpg">
        <img class="img-responsive center-block" alt="Logo Final transparent bg" src="https://kandudmp.files.wordpress.com/2015/06/logo-final-transparent-bg.jpg">
      </a>

      <p>
        The
        Kandu Data Management Platform was developed to train, monitor and
        manage subsistence and micro scale farmers in South Africa’s rural areas
        in organic and sustainable agriculture and is in use by several NGO’s
        concerned with food security, agrarian reform and conservation in KZN.
        Several thousand small scale food producers are currently being managed
        with the Kandu system and these farmers are producing sufficient surplus
        for sale to their local communities as well as to nearby urban centres.</p>


      <p>Open Food Network (OFN) was developed by the Open Food Foundation in
        Australia which is a non-profit, registered charity established in
        October 2012, to develop and protect a commons of open source knowledge,
        code, applications and platforms for fair and sustainable food systems.</p>


      <a href="https://kandudmp.files.wordpress.com/2015/06/act.png">
        <img class="img-responsive center-block" alt="act" src="https://kandudmp.files.wordpress.com/2015/06/act.png?w=132&amp;h=163">
      </a>

      <p>

        The African Conservation Trust (ACT) is an established not-for-profit and
        public benefit organisation that has been operating in southern Africa
        since 2000.&nbsp;Based in KwaZulu-Natal and with a historical footprint of
        working throughout southern Africa, ACT strives for environmental
        conservation and socio-economic sustainability. ACT&nbsp;works predominantly
        in areas where conflict exists between the natural environment and human
        habitation, and work to build sustainable communities that are
        economically, environmentally, and socially healthy and resilient.</p>


      <p>The integration of Kandu with OFN&nbsp;will provide an open source
        technology platform on which&nbsp;producers of organic, ethically produced
        food and value added products will be able to self organise into
        localised value networks of collectives and food hubs in order to
        sell&nbsp;directly to the public. This collaborative commons based direct
        marketing&nbsp;strategy&nbsp;will benefit &nbsp;both producers and consumers in that
        producers will be able to earn more for their products without consumers
        paying more.&nbsp; </p>

      <div class="text-left">
        <ul class="list-unstyled">
          This is achieved through
          <ul>
            <li>a strong emphasis on regional marketing and consumption which
              eliminates both the monetary and carbon cost of long distance transport ,
            </li>
            <li>the elimination of wasted produce in that produce is only shipped once ordered and paid for by the end
              user
              which in turn,
            </li>
            <li>negates the need for burdensome and energy intensive cold storage.</li>
            <li>Complete transparency in the production network which encourages
              relationship building between producers and consumers and negates the
              need for expensive branding and packaging and
            </li>
            <li>agility and flexibility in terms of distribution logistics which
              allows producers and hubs to collaborate among each other and with
              consumers to find the methodology most suited to their specific local
              conditions.
            </li>
          </ul>
        </ul>
      </div>

      <p>All of the above factors combine to negate the need for middle men
        such as market agents, bulk cold storage facilities, fresh produce
        markets, supermarkets and other parasitic entities which have been
        burdening our food production and distribution system.</p>


      <p>According to UN statistics, two thirds of the food consumed on our
        planet is being produced by small scale farmers on less than a third of
        the agricultural land. OFN-SA provides a vessel for hundreds of
        thousands of marginalised, small scale farmers as well as urban food
        gardeners to collectively enter the macro economy in&nbsp;a vital and
        critical contribution to real food security. Seen against the backdrop
        of ever increasing corporate agricultural land grabs and government
        policies aligning with corporate interests in the agricultural sector,
        the establishment of a resilient, interconnected web of biophilic food
        producers has now become imperative in order to ensure the continued
        availability of organicly grown, non GM foodstuffs</p>
    </div>
  </div>
</div>

