<div class="enterprise-type-flowchart">
  <!--<img alt="Enterprise-type" src="/assets/enterprise-type-93e7d154c4ba306fe1a7617ec703cad6.png">-->
  <%=image_tag "enterprise-type.png", alt:"Enterprise-type" %>
  <br>
  <br>
  <br>
  <br>
  <br>

  <p style="text-align: center;">
    <a href="http://www.openfoodnetwork.org/platform/features/">More Features</a>
    |
    <a href="http://www.openfoodnetwork.org/platform/user-guide/">User Guide</a>
    |
    <a href="http://www.openfoodnetwork.org/platform/user-guide/faqs/producer-faqs/">Producer FAQs</a>
  </p>
</div>

<h4>Join a marketplace of independent online food stores</h4>
<p>Create an online shop front and join the network of online farmers markets on the Open Food Network. Set up a
  Producer Shop and sell your products direct to customers, or create a Food Hub and sell products from multiple
  producers.</p>
<h4>Connect with a new source of customers</h4>
<p>Gain access to the growing crowd of conscientious buyers on the Open Food Network, all looking to make more ethical
  and sustainable choices when purchasing food.</p>
<h4>Manage your business online</h4>
<p>The Open Food Network provides online tools to help with the day-to-day running of your business. Manage your product
  listing and stock levels. Create, receive and manage orders from your buyers, and organise payments online. Generate
  invoices for orders and export them to your accounting software, and access a range of reports.</p>
<h4>Start with a simple listing on our directory</h4>
<p>Create a profile on the Open Food Network and gain exposure to a new marketplace of potential buyers. Tell your story
  in words and images, provide your contact details, and drive connections to your social and online presence.</p>
<p>Access new wholesale opportunities by connecting with food hubs in your region who can sell and distribute your
  products to buyers on the Open Food Network.</p>
